@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f9f9f9;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    flex-grow: 1;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-family: 'Ms Madi', cursive;
    font-size: 7rem;
    margin: 2rem auto 0 auto;
    color: rgb(82, 57, 4);
}

.emphasis {
    color: hotpink;
    text-shadow: -2px 2px 5px black;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search-container p {
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.bar-and-button {
    display: flex;
    align-items: center;
}

#search-bar {
    border-radius: 15px;
    border: 1px solid rgb(214, 214, 214);
    width: 300px;
    height: 35px;
    padding-left: .5rem;
    padding-right: 45px;
    font-size: 1rem;
}

#search-bar:focus, #categories:focus {
    outline: 1px solid rgb(76, 151, 204);
}

#categories {
    height: 35px;
    border-radius: 5px;
    font-size: 1rem;
    padding: .25rem;
    border: 1px solid rgb(214, 214, 214);
}

#search-button {
    background-image: url(./images/search-icon.png);
    background-size: 67%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    margin-left: -55px;
}

#seach-button:hover {
    cursor: pointer;
}

#random-button {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; 
    padding: 12px 16px;
    border: none;
    background-color: teal;  
    color: white; 
    font-size: 1rem;
}

#random-button:hover {
    cursor: pointer;
    background-color: rgb(0, 90, 90);  
}

#random-button:active {
    transform: translate(2px, 2px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container h2, .container p {
    margin: 0;
}

.topRow, .bottomRow {
    display: flex;
    text-align: center;
}

.bottomRow {
    display: flex;
}

footer {
    background-image: url(./images/owen.png);
    background-size: contain;
    height: 120px;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    body {
        padding: 1.5rem;
        min-height: auto;
    }

    main {
        padding: 0;
        gap: 0;
    }

    header {
        justify-content: flex-start;
    }

    header h1 {
        line-height: 1.1;
        font-size: 5rem;
        width: 50%;
        margin: 0;
    }

    .emphasis {
        color: hotpink;
        text-shadow: -2px 2px 4px black;
    }

    .search-container {
        align-items: flex-start;
        width: 100%;
    }

    .search {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .bar-and-button {
        width: 100%;
        padding: 0;
    }

    .container {
        align-items: flex-start;
        margin-top: 1.5rem;
    }

    .topRow, .bottomRow {
        text-align: left;
    }

    footer {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    header h1 {
        font-size: 3rem;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    header h1 {
        font-size: 4rem;
    }
}

@media (min-width: 801px) and (max-width: 1180px) {
    header h1 {
        font-size: 5.5rem;
    }
}
